*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body{
    background: #080008;
    color: #fff;
}

.header{
    width: 100%;
    height: 100vh;
    /*background-image: url(/images/blkbg.jpg);*/
    background-size: cover;
    background-position: center;
    font-weight: bold;
}

.container{
    padding: 5px 5%;
}

nav{
    display: flex;
    align-items: center;
    padding-left: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 15px;
    
}

.logo{
    width: 100px;
}

nav a{
    text-decoration: none;
    color: #e0e0e0;

}

nav a:hover{
color: #00ff00;

}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

.contact-info{
    display: inline;
    padding-left: 600px;
}

.home-title{

   text-align: center;
   padding-top: 10%;
   font-size: 40px;
   
}